<div class="container">
  <h1>Angular Components</h1>
  <h2>SubTitle</h2>

  <app-post-form
  (onAdd)="updatePosts($event)"
  ></app-post-form>

  <hr />

  <app-post
  *ngFor="let post of posts"
  [myPost]="post"
  (onRemove)="removePost($event)"
  >
    <div #postLengthInfo>
      <div *ngIf="post.text.length > 80; else short">Post Long</div>
      <ng-template #short>
        <div>Post short</div>
      </ng-template>
    </div>

  </app-post>

  <p appStyle="red" [dStyles]="{border: '1px solid red', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, obcaecati.
  </p>
  <p appStyle="blue" [dStyles]="{border: '1px solid red', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, obcaecati.
  </p>

  <hr>
  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>
  <div class="wrapp" *ngIf="isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error natus provident quo, sequi similique.</p>
  </div>


</div>


